<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".wav" />
      <mimeMap fileExtension=".wav" mimeType="audio/wav" />
      <remove fileExtension=".mp3" />
      <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
      <remove fileExtension=".mid" />
      <mimeMap fileExtension=".mid" mimeType="audio/midi" />
      <remove fileExtension=".midi" />
      <mimeMap fileExtension=".midi" mimeType="audio/midi" />
    </staticContent>
  </system.webServer>
</configuration>